.filters-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-between;
  padding: 1.14em 1.7em 1.42em 1.7em;
  font-size: 0.875rem;
  color: var(--filters-text-color);
  background-color: var(--task-bg-color);
}

.filters {
  display: flex;
  font-weight: 700;
  margin: 0 auto;
}

.tasks-clear {
  cursor: pointer;
  justify-self: end;

  &--hidden {
    visibility: hidden;
    pointer-events: none;
  }

  &:hover {
    color: var(--filters-text-color-hover);
  }
}

@media screen and (max-width: 576px) {
  .filters-container {
    grid-template-columns: 1fr;
    justify-content: center;
  }

  .tasks-counter {
    display: none;
  }

  .tasks-clear {
    display: none;
  }
}
