.tasks {
  margin-bottom: 49px;
  border-radius: 5px;
  box-shadow: var(--task-list-drop-shadow);
  overflow: hidden;
}

.tasks-list {
  min-height: 370px;
  max-height: 370px;
  overflow-y: auto;
  background-color: var(--task-bg-color);
}

.tasks-list::-webkit-scrollbar {
  width: 12px;
  background-color: var(--task-bg-color);
}

.tasks-list::-webkit-scrollbar-thumb {
  width: 5px;
  background-color: var(--scrollbar-thumb-color);
  border: 4px solid var(--task-bg-color);
  border-radius: 15px;
}
