.tasks__filters-item {
  margin-right: 19px;
  cursor: pointer;

  &:hover {
    color: var(--filters-text-color-hover);
  }

  &:last-child {
    margin-right: 0;
  }

  &--active {
    color: #3a7cfd;
    pointer-events: none;
  }
}
