.task-item {
  position: relative;
  display: flex;
  width: 100%;
  height: 4rem;
  align-items: center;
  background-color: var(--task-bg-color);
  border-bottom: 1px solid var(--task-check-border-color);

  &__check {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    margin: 0 1.5rem;
    border-radius: 50%;
    border: 1px solid var(--task-check-border-color);
    cursor: pointer;
  }

  &__check-inner {
    display: none;
    position: absolute;
    width: calc(100% - 2px);
    height: calc(100% - 2px);
    background-color: var(--task-bg-color);
    border-radius: 50%;
  }

  &__check:hover {
    background: linear-gradient(135deg, #55DDFF 0%, #C058F3 100%);
  }

  &__check:hover .task-item__check-inner {
    display: block;
  }

  &__check--completed {
    border: none;
    background: linear-gradient(135deg, #55DDFF 0%, #C058F3 100%);
  }

  &__check--completed:hover .task-item__check-inner {
    display: none;
  }

  &__check-icon {
    display: flex;
    width: 12px;
    height: 12px;
    color: var(--task-bg-color)
  }

  &__input {
    flex-grow: 1;
    background: transparent;
    color: var(--task-text-color-active);
    outline: none;
    border: none;
    border-radius: 5px;
  }

  &__input--completed {
    text-decoration: line-through;
    color: var(--task-text-color-completed);
    pointer-events: none;
  }

  &__input-error {
    display: none;
    margin-left: 24px;
    width: 20px;
    height: 20px;
  }

  &__input-error--active {
    display: block;
  }

  &__delete {
    display: none;
    width: 18px;
    height: 18px;
    margin: 0 1.5rem;
    color: var(--task-text-color-active);
    cursor: pointer;
  }

  &:hover .task-item__delete {
    display: block;
  }
}

@media screen and (max-width: 576px) {
  .task-item {
    height: 3rem;

    &__check {
      width: 20px;
      height: 20px;
      margin-right: 12px;
    }

    &__input-error {
      width: 12px;
      height: 12px;
      margin-left: 20px;
    }

    &__delete {
      display: block;
      width: 12px;
      height: 12px;
      margin: 0 20px 0 10px;
    }
  }
}
